body {
  overflow-x: hidden;
}

div.nav-bar {
  display: inline;
  width: 100%;
  background-color: white;

}

div.content {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  padding-top: 32px;
  padding-bottom: 32px;
  grid-row-gap: 32px;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.logo-image {
  display: inline-block;
  height: 40px;
  width: auto;
  padding-top: 10px;
  padding-left: 5vw;
}

.background-image {
  position: fixed;
  z-index: -1;
  margin-top: -100px;
  min-width: 100%
}

.nav-wrapper {
  display: flex;
  height: 72px;
  width: 100%
  vertical-align: middle;
  align-items: center;
  background-color: white;
}

.header-image {
  display: flex;
  height: 384px;
  width: 100%;

}



.service-tiles {
  display: flex;
  float: none;
  padding-left: 32px;
  padding-right: 32px;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}

.brand-info {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
}

.brand-grid {
  display: grid;
  width: 70vw;
  height: 100%;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;

}

.brand-img {
  height: 100%;
  width: auto;
  margin: 0 auto;
}

.contact-info {
  display: flex;
  width: 100%;
  height: 0px;
  background-color: #199AB3;
}

.rec-info {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: white;
  justify-content: center;
  vertical-align: middle;
}

.rec-img {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: auto;
  margin-bottom: auto;
}

.link-index {
  display: flex;
  width: 100%;
  height: 10vw;
  background-color: #199AB3;
}
